body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

a {
  color: #333;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}

.container {
  width: 60%;
  margin-bottom: 50px;
}

.header h1 {
  font-weight: bold;
}

.header nav a {
  text-decoration: none;
  margin-right: 3%;
}

.header nav a:hover {
  text-decoration: underline;
}

.contact {
  display: flex;
}

.contact ul {
  list-style: none;
}

img {
  border-radius: 50%;
  width: 10%;
}

em {
  font-weight: bold;
}

/* .type_publi {
  border-bottom: 1px solid black;
} */

.paper {
  margin: 10px;
  padding: 10px;
  border-left: 3px solid #333;
}

.paper_title {
  width: 50%;
  margin: 0;
  color: #333;
}

.paper_widget {
  margin-right: 10px;
  color: #333;
}

.paper_widget {
  margin-right: 10px;
}

.paper_location {
  color: #777;
}

.paper_widget::before {
  content: "[ ";
  color: black;
}

.paper_widget::after {
  content: " ]";
  color: black;
}

.paper_award {
  font-weight: bolder;
  color: orange;
}

footer {
  margin: 10px;
}