{% extends "base.html" %}

{% block content %}
<article>
  <h2>About Me</h2>
  <div class="contact">
    <img src="./me.png" alt="A picture of Arthur Correnson">
    <ul>
      <li><em>Email</em> : <a href="mailto:arthur.correnson@ens-rennes.fr">arthur.correnson@ens-rennes.fr</a></li>
      <li><em>GitHub</em> : <a href="https://github.com/acorrenson">acorrenson</a></li>
      <li><em>LinkedIn</em> : <a href="https://www.linkedin.com/in/arthur-correnson-b17ab9146">Arthur Correnson</a></li>
    </ul>
  </div>
  <p>
    I am a graduate student at <a href="">Saarland University</a> and at <a href="">ENS Rennes</a>. My current
    research focuses on the formal proof of automated verification tools using the Coq proof assistant.
    More generally, I am interested in all aspects of programming languages, formal verification, and making formal
    methods
    more accessible to a wider audience.
  </p>
  <h3>Other Research Interests</h3>
  <ul>
    <li>Formally verified compilation/static analysis</li>
    <li>Certified constraint solvers</li>
    <li>Formalization of floating-point arithmetic</li>
    <li>Quantum computing</li>
  </ul>
  <h3>Professional Activities</h3>
  <p>
    I am an employee at <a href="https://www.absint.com/index.htm">AbsInt GmbH</a> working on the <a
      href="https://compcert.org/">CompCert</a> compiler.
  </p>
  <h3>Other Activities</h3>
  <p>
    Aside from research and studies, I dedicate most of my free-time to the popularization of theoretical computer
    science. I co-founded the student organization <em>CodeAnon</em> that organises conferences, tutorials and workshops
    for undergrad students at <a href="">University Toulouse III</a>.
  </p>

  <h3>Awards</h3>

  I was deeply honored to receive the first prize of <a
    href="https://icfp22.sigplan.org/track/icfp-2022-student-research-competition?">ICFP Student Research Competition
    2022</a> in the
  graduate category.
  I received this award for my work on the <em>Formal Verification of a Lazy Abstraction Model Checker</em> supervised
  by <a href="">Bernd Finkbeiner</a>.
</article>
{% endblock content %}