{% extends "base.html" %}

{% block content %}
<article>
  <h2>About Me</h2>
  <div class="contact">
    <img src="./me.png" alt="A picture of Arthur Correnson">
    <ul>
      <li><em>Email</em> : <a href="mailto:arthur.correnson@ens-rennes.fr">arthur.correnson@ens-rennes.fr</a></li>
      <li><em>GitHub</em> : <a href="https://github.com/acorrenson">acorrenson</a></li>
      <li><em>LinkedIn</em> : <a href="https://www.linkedin.com/in/arthur-correnson-b17ab9146">Arthur Correnson</a></li>
    </ul>
  </div>
  <p>
    I am a PhD student at <a
      href="https://www.google.com/search?client=safari&rls=en&q=CISPA&ie=UTF-8&oe=UTF-8">CISPA</a> and <a
      href="">Saarland University</a> under the supervision of <a
      href="https://www.react.uni-saarland.de/people/finkbeiner.html">Bernd Finkbeiner</a>.
    My current research focuses on the formal verification of static analyzers and compilers using the Coq proof
    assistant.
    More generally, I am interested in all aspects of programming languages and formal verification.
  </p>

  <h3>Exciting news!</h3>

  <div id="news">
    <div class="news_item">
      <div class="news_date">April 2023</div>
      <div>
        I am co-advising the bachelor thesis of Iona Kuhn on the formalization of omega regular
        expressions in Coq
      </div>
    </div>
  </div>

  <h3>Research Interests</h3>
  <ul>
    <li>Formally verified compilation/static analysis</li>
    <li>Certified constraint solvers</li>
    <li>Formalization of floating-point arithmetic</li>
    <li>Quantum computing</li>
  </ul>
  <h3>Teaching</h3>
  <ul>
    <li>(2022-2023) teaching assistant for <a href="https://cms.cispa.saarland/agv22/">Automata, Games and
        Verification</a></li>
    <li>(2021-2022) tutor for <a href="https://rg1-teaching.mpi-inf.mpg.de/autrea-ws21/">Automated Reasoning</a></li>
  </ul>

  <h3>Experiences in the Industry</h3>
  <p>
    From 2022 to 2023, I was an employee at <a href="https://www.absint.com/index.htm">AbsInt GmbH</a> working on
    the <a href="https://compcert.org/">CompCert</a> compiler.
  </p>
  <h3>Other Activities</h3>
  <p>
    Aside from research and studies, I dedicate my free-time to the popularization of theoretical computer
    science. I co-founded the student organization <em>CodeAnon</em> that organises conferences, tutorials and workshops
    for undergrad students at <a href="">University Toulouse III</a>.
  </p>

  <h3>Awards</h3>

  I was deeply honored to receive the first prize of <a
    href="https://icfp22.sigplan.org/track/icfp-2022-student-research-competition?">ICFP Student Research Competition
    2022</a> in the
  graduate category.
  I received this award for my work on the <em>Formal Verification of a Lazy Abstraction Model Checker</em> supervised
  by <a href="https://www.react.uni-saarland.de/people/finkbeiner.html">Bernd Finkbeiner</a>.
</article>
{% endblock content %}