{% extends "base.html" %}

{% block content %}
<article>
  <h2>About Me</h2>

  <div id="intro">
    <div id="image">
      <img src="./me.png" alt="A picture of Arthur Correnson">
    </div>
    <div id="bio">
      <p>
        I am a PhD candidate at <a
          href="https://www.google.com/search?client=safari&rls=en&q=CISPA&ie=UTF-8&oe=UTF-8">CISPA</a>
        under the supervision of <a href="https://www.react.uni-saarland.de/people/finkbeiner.html">Bernd
          Finkbeiner</a>.
        My research focuses on formal verification using interactive proof assistants (especially <a
          href="https://coq.inria.fr">Coq</a>, which is
        my
        favorite proof assistant). In particular, I am interested in proving the correctness of critical tools such as
        compilers,
        static analyzers, automated provers etc. More generally, I am curious about pretty much everything related to
        programming languages and verification (semantics, logic, category theory, ...).
      </p>
      <p>
        Feel free to send me an email for any question related to my research!
        I'm also very happy to discuss any research oriented project, especially if it involves proving stuff!
      </p>
      <ul>
        <li><em>Email</em> : <a href="mailto:arthur.correnson@cispa.de">arthur.correnson@cispa.de</a></li>
        <li><em>GitHub</em> : <a href="https://github.com/acorrenson">acorrenson</a></li>
        <li><em>LinkedIn</em> : <a href="https://www.linkedin.com/in/arthur-correnson-b17ab9146">Arthur
            Correnson</a>
        </li>
      </ul>
    </div>
  </div>

  <h2>Exciting news!</h2>

  <div id="news">
    <ul>
      <li>(2023) I will be at <a href="https://2023.esec-fse.org">ESEC/FSE</a> in San Fransisco to present my work on
        the formal
        verification of automated bug
        finders
      </li>
      <li>(2023) I am advising the bachelor thesis of Iona Kuhn on the Coq formalization of algorithms for omega regular
        expressions
      </li>
      <li>(2022) I was honored to win ICFP Student Research Competition in the graduate category
      </li>
    </ul>
    <!-- <div class="news_item">
      <div class="news_date">April 2023</div>
      <div>
        I am co-advising the bachelor thesis of Iona Kuhn on the formalization of omega regular
        expressions in Coq
      </div>
    </div> -->
  </div>

  <a id="teaching"></a>
  <h2>Teaching</h2>

  I truly enjoy teaching! I have been involved in the organization of many lectures at Saarland
  University.

  <ul>
    <li>(2023-2024) Teaching Assistant for the lecture <a href="https://cms.cispa.saarland/ver2324/">Verification</a>
    <li>(2023) Teaching Assistant for the seminar <a href="https://cms.cispa.saarland/hyper_23/">Hyper Properties</a>
    </li>
    <li>(2022-2023) Teaching Assistant for the lecture <a href="https://cms.cispa.saarland/agv22/">Automata, Games and
        Verification</a></li>
    <li>(2021-2022) Tutor for the lecture <a href="https://rg1-teaching.mpi-inf.mpg.de/autrea-ws21/">Automated
        Reasoning</a></li>
  </ul>

  <h2>Service</h2>
  <ul>
    <li>(2024) POPL Student Volunteer</li>
    <li>(2023) TACAS Subreviewer</li>
    <li>(2023) DATE Subreviewer</li>
    <li>(2023) ATVA Subreviewer</li>
    <li>(2023) ICFP Artifact Evaluation Committee</li>
    <li>(2022) ICFP Student Volunteer</li>
  </ul>


  <h2>Experiences in academia and in industry</h2>

  <ul>
    <li>(2022-2023) Part time employee at <a href="https://www.absint.com/index.htm">AbsInt GmbH</a>.
      <br>
      Proof engineering for the <a href="https://compcert.org/">CompCert</a> compiler
    </li>
    <li>(Summer 2021) Intern at <a href="https://list.cea.fr/en/">CEA</a>, Software Safety & Security Lab.
      <br>
      Formal verification of constraint propagators for floating point arithmetic
    </li>
    <li>(Summer 2019) Intern at <a href="https://www.inria.fr/en/dyliss">INRIA</a> in the team DYLISS.
      <br>
      Implementation of algorithms for the alignment of biological sequences
    </li>
  </ul>

  <h2>Awards</h2>

  <ul>
    <li>Best artifact awards at ESEC\FSE 2023 for the paper <em>Engineering a Formally Verified Automated Bug
        Finder</em></li>
    <li>First prize of ICFP-SRC 2022 for my work <em>Formal Verification of a Lazy Abstraction Model Checker</em></li>
  </ul>

  <h2>Other Activities</h2>

  <p>
    Aside from research and studies, I dedicate my free-time to the popularization of theoretical computer
    science. I co-founded the student organization <em>CodeAnon</em> that organises conferences, tutorials and workshops
    for undergrad students at <a href="">University Toulouse III</a>.
  </p>


</article>
{% endblock content %}