{% extends "base.html" %}

{% block content %}

<h2>Publications</h2>


<h3 class="type_publi">Conferences</h3>

<div class="paper">
  <h4 class="paper_title">A la recherche de tous les vrais bugs</h4>
  <h4 class="paper_title"><i>Searching for all the true bugs (translated)</i></h4>
  <p>Arthur Correnson</p>
  <p class="paper_location">JFLA 2024</p>
  <!-- <p class="paper_location">35èmes Journées Francophones des Langages Applicatifs, Feb 2023, Saint-Jacut-de-la-Mer,
    France</p> -->
  <nav>
    <a class="paper_widget" href="https://hal.science/hal-04407133/">hal</a>
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">Engineering a Formally Verified Automated Bug Finder</h4>
  <p>Arthur Correnson, Dominic Steinhoefel</p>
  <p class="paper_location">ESEC/FSE 2023</p>
  <p class="paper_award">Best Artifact Awards</p>
  <nav>
    <!-- <a class="paper_widget" href="https://hal.inria.fr/hal-03626792">hal</a> -->
    <a class="paper_widget" href="https://arxiv.org/abs/2305.05570">arxiv</a>
    <a class="paper_widget" href="https://dl.acm.org/doi/10.1145/3611643.3616290">acm</a>
    <!-- <a class="paper_widget" href="">slides</a> -->
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">Comment dompter un troupeau de flottants sauvages ?</h4>
  <h4 class="paper_title"><i>How to tame a herd of floating points (translated)</i></h4>
  <p>Arthur Correnson</p>
  <p class="paper_location">JFLA 2023</p>
  <!-- <p class="paper_location">34èmes Journées Francophones des Langages Applicatifs, Feb 2023, Praz-sur-Arly,
    France</p> -->
  <nav>
    <a class="paper_widget" href="https://hal.inria.fr/JFLA2023/hal-03936872">hal</a>
    <a class="paper_widget" href="https://hal.inria.fr/JFLA2023/hal-03936872/document">pdf</a>
    <a class="paper_widget" href="/pdf/slides_jfla_2023_float.pdf">slides</a>
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">Un Coq apprend à un bébé Colibri à flotter</h4>
  <h4 class="paper_title"><i>A rooster teaches a colibri how to float (translated)</i></h4>
  <p>Arthur Correnson, François Bobot</p>
  <p class="paper_location">JFLA 2022</p>
  <!-- <p class="paper_location">33èmes Journées Francophones des Langages Applicatifs, Jun 2022, Saint-Médard-d'Excideuil,
    France</p> -->
  <nav>
    <a class="paper_widget" href="https://hal.inria.fr/hal-03626792">hal</a>
    <a class="paper_widget" href="https://hal.inria.fr/hal-03626792/document">pdf</a>
    <!-- <a class="paper_widget" href="">slides</a> -->
  </nav>
</div>

<h3 class="type_publi">Workshops</h3>

<div class="paper">
  <h4 class="paper_title">Automated Hyperbug Finding</h4>
  <p>Arthur Correnson, Tobias Niessen, Bernd Finkbeiner, Georg Weissenbacher</p>
  <p class="paper_location">Workshop on Hyperproperties: Advances in Theory and Practice @ CAV 2024</p>
  <nav>
    <a class="paper_widget" href="https://hyperworkshop24.cispa.io/#program">web</a>
    <!-- <a class="paper_widget" href="/pdf/hyper_2024.pdf">slides</a> -->
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">Symbolic Bug Finding for Asynchronous Hyperproperties</h4>
  <p>Arthur Correnson, Tobias Niessen, Bernd Finkbeiner, Georg Weissenbacher</p>
  <p class="paper_location">Asynchronous Hyperproperties: From Theory to Practice (Vienna, 2024)</p>
  <nav>
    <a class="paper_widget" href="https://ahyper.github.io/ahyper24/program/">web</a>
    <!-- <a class="paper_widget" href="/pdf/ahyper_2024.pdf">slides</a> -->
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">What Do Relational Properties Have to Say About Legal Expert Systems?</h4>
  <p>Arthur Correnson</p>
  <p class="paper_location">Workshop on Programming Languages and the Law @ POPL 2023</p>
  <nav>
    <a class="paper_widget" href="https://popl23.sigplan.org/home/prolala-2023#">web</a>
    <a class="paper_widget" href="/pdf/prolala_2023.pdf">slides</a>
  </nav>
</div>

<h3 class="type_publi">Posters, Talks and Demonstrations</h3>

<div class="paper">
  <h4 class="paper_title">(DEMO) Goose : an OCaml environment for Quantum Computing</h4>
  <p>Denis Carnier, Arthur Correnson, Christopher McNally, Youssef Moawad</p>
  <p class="paper_location">JFLA 2023</p>
  <!-- <p class="paper_location">34èmes Journées Francophones des Langages Applicatifs, Feb 2023, Praz-sur-Arly,
    France</p> -->
  <nav>
    <a class="paper_widget" href="https://hal.inria.fr/JFLA2023/hal-03936876">hal</a>
    <a class="paper_widget" href="https://hal.inria.fr/JFLA2023/hal-03936876/document">pdf</a>
    <a class="paper_widget" href="/pdf/slides_jfla_2023_goose.pdf">slides</a>
  </nav>
</div>

<div class="paper">
  <h4 class="paper_title">Formal Verification of a Lazy Abstraction Model Checker</h4>
  <p>Arthur Correnson</p>
  <p class="paper_location">ICFP Student Research Competition, September 2022, Ljubljana, Slovenia</p>
  <p class="paper_award">First Prize in the graduate category</p>
  <nav>
    <a class="paper_widget" href="/pdf/ICFP22_poster.pdf">pdf</a>
  </nav>
</div>



{% endblock content %}